<%= render "shared/header" %>

<div class="main">
  <%# 投稿概要 %>
  <div class="tweet-contents">
    <% if @results.length != 0%>
      <h2 class="title">投稿一覧</h2>
      <ul class="tweet-lists">
        <% @results.each do |result| %>
          <% if result.private_id == 2%>
            <li class="list">
              <%= link_to tweet_path(result.id) do %>
              <div class="tweet-img-content">
                <%= image_tag result.image, class: "tweet-img" %>
              </div>
              <div class="tweet-info">
                <h3 class="tweet-name">
                  <%= result.title %>
                </h3>
                <div class="tweet-category">
                  <span>カテゴリー: <%= result.category.name %></span>
                  <div class="like-btn">
                    <%# ログインするといいねボタンが押せる %>
                    <% if user_signed_in? %>
                      <%# いいねの保存有無で条件分岐 %>
                      <% if current_user.already_liked?(result) %>
                        <%= button_to tweet_like_path(id: result.id, user_id: current_user.id, tweet_id: result), method: :delete, class:"heart-btn" do %>
                          <%= icon('fas', 'heart', class: "fa-lg heart-icon unlike") %>
                        <% end %>
                      <% else %>
                        <%= button_to tweet_likes_path(user_id: current_user.id, tweet_id: result), class:"heart-btn" do %>
                          <%= icon('fas', 'heart', class: "fa-lg heart-icon") %>
                        <% end %>
                      <% end %>
                      <%# /いいねの保存有無で条件分岐 %>
                      <span class='heart-count'><%= result.likes.count %></span>
                    <% else %>
                      <%= icon('fas', 'heart', class: "fa-lg heart-icon") %>
                      <span class='heart-count'><%= result.likes.count %></span>
                    <% end %>
                    <%# /ログインするといいねボタンが押せる %>
                  </div>
                </div>
              </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <h2 class="title">該当の投稿はありません</h2>
    <% end %>
  </div>
  <%# /投稿概要 %>
</div>

<%= render "shared/footer"%>