<%= render "shared/header" %>

<%# ツイート内容 %>
<div class="container-fluid tweet-show">
  <div class="row show-row">
    <div class="col-12 col-md-10 col-lg-8 tweet-box">
      <div class="tweet-img-content">
        <div class="tweet-change-btn">
          <div class="change-btn prev-btn">← 前へ</div>
          <div class="change-btn next-btn">次へ →</div>
        </div>
        <%= image_tag @tweet.image, class:"tweet-box-img active"%>
        <% if @tweet.image_two.present? %>
          <%= image_tag @tweet.image_two, class:"tweet-box-img"%>
        <% end %>
        <% if @tweet.image_three.present? %>
          <%= image_tag @tweet.image_three, class:"tweet-box-img"%>
        <% end %>
        <% if @tweet.image_four.present? %>
          <%= image_tag @tweet.image_four, class:"tweet-box-img"%>
        <% end %>
      </div>
      <div class="tweet-img-btn">
        <div class="tweet-page-btn">1</div>
        <div class="tweet-page-btn">2</div>
        <div class="tweet-page-btn">3</div>
        <div class="tweet-page-btn">4</div>
      </div>

      <% if user_signed_in? && current_user.id == @tweet.user_id%>
        <%= link_to "編集", edit_tweet_path(@tweet.id), method: :get, class: "tweet-edit" %>
        <p class="or-text">or</p>
        <%=link_to "削除", tweet_path(@tweet.id), method: :delete, class: "tweet-destroy"%>
      <% end %>

      <div class="tweet-explain-box">
        <span>＜投稿説明＞</span>
        <span><%= @tweet.info %></span>
      </div>
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-tweet">投稿者</th>
            <td class="detail-value"><%= link_to @tweet.user.nickname, user_path(@tweet.user.id) %></td>
          </tr>
          <tr>
            <th class="detail-tweet">タイトル</th>
            <td class="detail-value"><%= @tweet.title %></td>
          </tr>
          <tr>
            <th class="detail-tweet">カテゴリー</th>
            <td class="detail-value"><%= @tweet.category.name %></td>
          </tr>
          <tr>
            <th class="detail-tweet">いいね</th>
            <td class="detail-value">
              <% if current_user.already_liked?(@tweet) %>
                <%= button_to tweet_like_path(@tweet), method: :delete, class:"like-btn" do %>
                  <%= icon('fas', 'heart', class: "fa-lg heart-icon unlike") %>
                <% end %>
              <% else %>
                <%= button_to tweet_likes_path(@tweet), class:"like-btn" do %>
                  <%= icon('fas', 'heart', class: "fa-lg heart-icon") %>
                <% end %>
              <% end %>
              <span class='heart-count'><%= @tweet.likes.count %></span>
            </td>
          </tr>
        </tbody>
      </table>
      <%# 参考記事 %>
      <% if @tweet.link_one.present? || @tweet.link_two.present? || @tweet.link_three.present? || @tweet.link_four.present? %>
        <div class="tweet-article-box">
          <h2 class="article-heading">＜参考記事＞</h2>
          <ul class="article-lists">
            <% if @tweet.link_one.present? %>
              <li><%= link_to "参考記事ページ①", @tweet.link_one, class: "article-list"%></li>
            <% end %>
            <% if @tweet.link_two.present? %>
              <li><%= link_to "参考記事ページ②", @tweet.link_two, class: "article-list"%></li>
            <% end %>
            <% if @tweet.link_three.present? %>
              <li><%= link_to "参考記事ページ③", @tweet.link_three, class: "article-list"%></li>
            <% end %>
            <% if @tweet.link_four.present? %>
              <li><%= link_to "参考記事ページ④", @tweet.link_four, class: "article-list"%></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%# /参考記事 %>
      <%# コメント %>
      <%# コメントフォーム %>
      <div class="comment-form">
        <% if user_signed_in? %>
          <%= form_with model:[@tweet, @comment], local: true do |f| %>
            <%= f.text_area :text, class: "comment-text", placeholder: "コメントする"%>
            <%= f.submit "送信", class: "comment-submit", id: "comment-submit" %>
          <% end %>
        <% end %>
      </div>
      <%# /コメントフォーム %>
      <%# コメント一覧 %>
      <div class="comment-box">
        <h2>＜コメント一覧＞<h2>
        <div id="comments" class="comment-lists">
          <% @comments.each do |comment| %>
            <div class="comment-list">
              <p>
                <strong><%= link_to comment.user.nickname, user_path(comment.user.id) %></strong>
                <% if user_signed_in? && current_user.id == comment.user_id%>
                  <span><%= icon("fas", "ellipsis-h")%></span>
                  <ul class="more_list">
                    <li>
                      <%= link_to '削除', tweet_comment_path(@tweet, comment), method: :delete %>
                    </li>
                  </ul>
                <% end %>
              </p>
              <p>
                <%= comment.text %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
      <%# /コメント一覧 %>
      <%# /コメント %>
    </div>
  </div>
</div>
<%# /ツイート内容 %>

<%= render "shared/footer"%>