<header class="container-fluid top-page-header">
  <div class="row search-bar-contents">
    
    <div class="col-12 col-md-5 header-logo">
      <%=link_to "PROGRAM SHARE", "/" %>
    </div>
    
    <div class="col-12 col-md-7 header-form">
      <%= search_form_for @p, url: search_tweets_path, class: "search-form" do |f| %>
        <%= f.collection_select :category_id_eq, Category.all, :id, :name, {}, {class: "ransack-category-list"} %>
        <%= f.text_field :title_cont, placeholder: "キーワードから探す", class: "input-box" %>
        <%= f.button "検索", type: "submit", class: "search-button" do %>
          <%= image_tag "search.png", class:"search-icon" %>
        <% end %>
      <% end %>
    </div>
    
    <div class="col-12 col-md-6 offset-md-5 nav">
      <ul class='lists-right'>
        <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <% else %>
        <li><%= link_to 'ログイン',  new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
        <% end %>
      </ul>
    </div>

  </div>
</header>