<div class="side-nav">
  <ul class='side-lists'>
    <li>
      <%= link_to root_path, class: "home-icon" do %>
        <% icon('fas', 'home', class:'fa-lg') %>
      <% end %>
    </li>
    <% if user_signed_in? %>
    <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
    <li><%= link_to '投稿する', new_tweet_path, class: "new-tweet" %></li>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else %>
    <li><%= link_to 'ログイン',  new_user_session_path, class: "login" %></li>
    <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
  </ul>
  <ul class="side-lists heart-rank">
    <li>＜人気投稿＞</li>
    <% j = 1 %>
    <% lastLike = @tweet_likes[0].likes.length %>
    <%# いいねのランキングを表示する %>
    <% @tweet_likes.each.with_index(1) do |tweet_like, i| %>
      <%# いいね数が0だと表示しない %>
      <% if tweet_like.likes.length != 0 %>
        <% if tweet_like.likes.length != lastLike %>
          <% j = i %>
          <li class="heart-rank-info">
            <span><%= j %>位</span>
            <%= link_to tweet_path(tweet_like.id), class: "tweet-title" do %>
              <%= tweet_like.title %>
              (<%= tweet_like.likes.length %>)
            <% end %>
          </li>
          <% lastLike = tweet_like.likes.length %>
        <% else %>
          <% lastLike = tweet_like.likes.length %>
          <li class="heart-rank-info">
            <span><%= j %>位</span>
            <%= link_to tweet_path(tweet_like.id), class: "tweet-title" do %>
              <%= tweet_like.title %>
              (<%= tweet_like.likes.length %>)
            <% end %>
          </li>
        <% end %>
      <% end %>
      <%# /いいね数が0だと表示しない %>
      <% break if i == 5 %>
    <% end %>
    <%# /いいねのランキングを表示する %>
  </ul> 
</div>